:root {
  --clr-primary-100: hsl(277, 64%, 61%); /* accent */
  --clr-primary-200: hsl(244, 38%, 16%); /* card background */
  --clr-primary-300: hsl(233, 47%, 7%); /* body background */
  --clr-neutral-100: hsl(0, 0%, 100%); /* main heading, stat heading */
  --clr-neutral-200: hsla(0, 0%, 100%, 0.75); /* main paragraph */
  --clr-neutral-300: hsla(0, 0%, 100%, 0.6); /*  stat description */

  --fs-xs: 0.875rem;
  --fs-base: 0.9375rem;
  --ff-primary: 'Inter', sans-serif;
  --ff-secondary: 'Lexend Deca', sans-serif;
  --fw-base: 400;
  --fw-bold: 700;
}
